@media (max-width: 1200px) {
    body .section1 .cooperation {
        margin: auto;
            img{
                display: none;
            }
    }
    .icon-line img {
        display: none;
    }
    body .section1 .paragraph-big-orange {
        font-size: 45px;
    }
    .section2 {
        min-height: 0 !important;
        height: 60vh;
    }
    .layout-section2 .tbl-info5 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .tbl-info6__form .tbl-info6__icon {
        z-index: 350;
        background-color: #fff;
        position: relative;
        left: 35vw;
        bottom: 4vh;
        width: 82px;
    }
    .form .form-row {
        padding-top: 0rem!important;
        padding: 0 15px;
    }
    .tbl-info6__form .tbl-info6__icon_btnbottom {
        position: relative;
        top: 7vh;
        left: 30vw;
        width: 18vh;
    }
    .section4 {
        padding: 0 !important;
    }
    .section10 {
        background: black !important;
    }
    .nav-link img {
        display: none;
    }
    .navbar-nav {
        align-items: center;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    body .section7 {
        padding: 0;
    }
    .layout-section4 {
        padding-bottom: 15px;
    }
    .tbl-info6__form .tbl-info6__icon img {
        width: 100px;
    }
    .tbl-info6__form .tbl-info6__icon {
        width: 100px;
    }
    .tbl-info6 .tbl-info6__form {
        height: 28vh;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .tbl-info8 .tbl-info8__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section1 .logo-bar__tel {
        display: flex !important;
        margin: 2vh 0 0 0 !important;
    }
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .navbar-brand {
        margin: 0 auto;
    }
    .articles {
        font-size: 24px !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .tbl-info6 .tbl-info6__form {
        height: 20vh;
    }
    .tbl-info6__form .tbl-info6__icon img {
        width: 86px;
    }
    body .section7 {
        padding: 0;
    }
    .layout-section4 .tbl-info4__box {
        padding: 2vh 0 0 0;
    }
}

@media (max-width: 575.98px), (min-width: 576px) and (max-width: 991.98px) {
    .section2 {
        min-height: 0 !important;
        height: 84vh !important;
    }
    body .section2 .tbl-info {
        grid-template-columns: 1fr;
    }
    .tbl-info2 .tbl-info2__cards {
        grid-template-columns: 1fr;
    }
    .tbl-info2__cards .tbl-info2__info {
        max-height: 43vh;
    }
    .tbl-info2__photo .articles {
        font-size: 24px;
    }
    .tbl-info2__info .tbl-info2__text {
        font-size: 18px;
    }
    .section6 {
        margin: 0 0 5vh 0 !important;
    }
    .tbl-info6 .tbl-info6__form {
        height: 27vh;
    }
    .tbl-info6__form .tbl-info6__icon img {
        width: 86px;
    }
    body .section7 {
        padding: 0;
    }
    .tbl-info8 .tbl-info8__grid {
        grid-template-columns: 1fr 1fr;
    }
    .tbl-info8  .tbl-info8__grid_three {
        grid-template-columns: 1fr 1fr;
        gap: 4vh;
    }
    .logo-bar_location {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 575.98px), (min-width: 576px) and (max-width: 767.98px) {
    .layout-section4 .tbl-info4__box {
        padding: 1vh 0 0 0;
    }
    .layout-section2 .tbl-info5 {
        grid-template-columns: 1fr;
    }
    .tbl-info6__form .tbl-info6__icon_btnbottom {
        left: 26vw;
    }
    .tbl-info6__form .tbl-info6__icon {
        left: 33vw;
    }
}
@media (max-width: 575.98px) {
    .section2 {
        min-height: 0!important;
        height: 90vh!important;
    }
}

@media only screen //ipad
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .paragraph-big-orange {
        font-size: 40px !important;
    }
    .section1 .paragraph-big-white {
        font-size: 26px !important;
    }
    .section6 {
        margin: 0 0 10vh 0!important;
    }
    .tbl-info6__form .tbl-info6__icon_btnbottom {
        top: 4vh;
    }
    .tbl-info6 .tbl-info6__form {
        height: 30vh;
    }
    .section2 {
        min-height: 0!important;
        height: 110vh!important;
    }
    .tbl-info2__cards .tbl-info2__info {
        min-height: 55vh;
    }
}

@media only screen //ipad mini
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (-webkit-min-device-pixel-ratio: 1) {
    .section2 {
        min-height: 0!important;
        height: 80vh!important;
    }
    .tbl-info6 .tbl-info6__form {
        height: 25vh;
    }
}

@media only screen //iphone 6
and (min-device-width : 375px)
and (max-device-width : 667px) {
    .section1 .info {
        font-size: 17px !important;
        padding: 10px !important;
    }
    body .section1 .paragraph-big-orange {
        font-size: 26px !important;
    }
    .section1 .paragraph-big-white {
        font-size: 20px !important;
    }
    .section2 {
        min-height: 0!important;
        height: 289vh!important;
    }
    .tbl-info2__cards .tbl-info2__info {
        max-height: none;
        height: 75vh;
    }
    .tbl-info6 .tbl-info6__form {
        height: 65vh;
    }
    .tbl-info6__form .tbl-info6__icon_btnbottom {
        left: 15vw;
        top: 25vh;
    }
    .layout-section2_pt {
        padding: 0 !important;
    }
    .layout-section2 {
        max-width: 100vw !important;
    }
    .layout-section4 {
        max-width: 90vw !important;
    }
    .form-layout {
        height: 100vh;
    }
    .form .form-row {
        gap: 12px !important;
        margin: 35px 0 0 0;
    }
    .form-control_height {
        height: 4em !important;
    }
    .form-control {
        padding: 1.375rem 1.75rem;
    }
    .btn {
        margin: 25px 0 0 0;
    }
}

@media only screen //iphone 6+
and (min-device-width : 414px)
and (max-device-width : 736px) {
    .section2 {
        height: 235vh!important;
    }
    .layout-section2 {
        max-width: 85vw!important;
    }
    .layout-section2__part2 {
        margin: 0 !important;
    }
    .form-layout__part2 {
        width: 100vw !important;
    }
    .tbl-info6__form .tbl-info6__icon_btnbottom {
        left: 19vw;
        top: 17vh;
    }
    .tbl-info4__box img{
        width: 75px;
    }
    .articles-header {
        max-width: 80vw !important;
        font-size: 19px !important;
        padding: 10px;
    }
}

@media only screen //iphone 5/5s
and (min-device-width : 320px)
and (max-device-width : 568px) {

}

@media only screen //iphone 2G-4S
and (min-device-width : 320px)
and (max-device-width : 480px) {

}