.articles{
    font-size: 20px;
    font-weight: 700;
    color: #ed745d;
}
.articles-header{
    max-width: 60vw;
    text-align: center;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 300;
    color: #2e2e2e;
}