.paragraph-black{
    color: #2e2e2e;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    margin: 0 0 32px 0;
    padding-top: 5vh;
    &_normal{
        font-weight: 500;
    }
}
.paragraph-white{
    font-size: 26px;
    font-weight: 700;
    color: white;
}