.section10{
    background: url("../img/bg6.png") no-repeat;
}
.form-layout{
    background-color: rgba( 255 , 255 , 255 , 0.5 );
    text-align: center;
}
.form{
    margin: 2vh 0 0 0;
}
.form-control_height{
    height: 3em;
}