.section4{
    max-height: 40vh;
    background: url("../img/bg3.png") no-repeat;
    padding: 0 0 10vh 0;
}
.tbl-info4__box{
    padding: 5vh 0 0 0;
    text-align: center;
    .articles-header{
        color: white;
    }
}