.section9{
    max-height: 70vh;
    margin: 10vh 0 10vh 0;
}
.carousel-item__wrap{
    text-align: center;
}

.left{
    color: red;
    position: absolute;
    left: 16vw;
    top: 8vh;
    font-size: 30px;
}
.right{
    color: red;
    position: absolute;
    right: 16vw;
    top: 8vh;
    font-size: 30px;
}
