.section3{
    max-height: 95vh;
    margin: 0 0 5vh 0;
    hr{
        width: 20vw;
        background: #ed745d;
    }
}

.tbl-info2{
    &__header{
        max-width: 60vw;
        text-align: center;
        margin: 0 auto;
        font-size: 21px;
        font-weight: 300;
        color: #2e2e2e;
    }
    &__cards{
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin: 20px 0;
    }
    &__photo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        img{
            width: 95%;
        }
    }
    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__articles{
        text-align: center;
        margin: 10px 0 5px 0;
    }
}