.layout-section1{
    max-width: 90vw;
    margin: 0 auto;
    &_padding{
        padding: 0 0 5vh 0;
    }
}

.layout-section2{
    width: 90vw;
    margin: 0 auto;
    &_pt{
        padding: 2.5em;
    }
}
.layout-section4{
    max-width: 60vw;
    margin: 0 auto;
}