.section6{
    margin: 0 0 10vh 0;
}
.tbl-info6{
&__form{
    position: relative;
    height: 24vh;
    border: 2px solid #0000002e;
    margin: 12vh 0 0 0;
}
&__icon{
    position: absolute;
    right: 36vw;
    bottom: 17vh;
    z-index: 350;
    background-color: white;
    &_btnbottom{
        position: absolute;
        top: 21vh;
        left: 34vw;
    }
    img{
        width: 80px;
    }
}
}