.section6{
    margin: 0 0 10vh 0;
}
.tbl-info6{
&__form{
    position: relative;
    height: 24vh;
    border: 2px solid #0000002e;
    margin: 12vh 0 0 0;
    display: flex;
    justify-content: center;
}
&__icon{
    position: absolute;
    z-index: 350;
    background-color: white;
    &_btnbottom{
        position: absolute;
        top: 21vh;
        width: 100%;
        text-align: center;
    }
    img{
        width: 80px;
    }
}
}