button:focus {
  outline: none;
}

.navbar-toggler {
  background-color: #ec644b;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("Roboto-Light.eot");
  src: url("Roboto-Light.eot?#iefix") format("embedded-opentype"), url("Roboto-Light.woff") format("woff"), url("Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("Roboto-Bold.eot");
  src: url("Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("Roboto-Bold.woff") format("woff"), url("Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .tbl-info6 .tbl-info6__form .tbl-info6__icon_btnbottom {
    left: 7vw !important;
    top: 51vh !important;
  }
  .tbl-info6 .tbl-info6__form .tbl-info6__icon {
    right: 27vw !important;
    bottom: 49vh !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .form .form-control {
    height: calc(1.5em + 0.75rem + 14px);
  }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 731px) {
  .tbl-info6 .tbl-info6__form .tbl-info6__icon {
    right: 26vw !important;
    bottom: 48vh !important;
  }
  .tbl-info6 .tbl-info6__form .tbl-info6__icon_btnbottom {
    left: 17vw !important;
    top: 51vh !important;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 768px) {
  .tbl-info__info .tbl-info__text {
    font-size: 20px;
  }
  .tbl-info__info .articles {
    font-size: 25px;
  }
  .tbl-info2__cards .tbl-info2__info .tbl-info2__text {
    height: 50vh;
  }
  body .section4 {
    height: 50vh !important;
  }
  .card .card-body .btn-small_height {
    left: 4vw;
    width: 210px;
    height: 50px;
    font-size: 21px;
  }
  .card .card-body_padding {
    margin: 15px 10px;
  }
  .card-body .card-text {
    font-size: 20px;
  }
  .card-body .card__card {
    font-size: 24px;
  }
  .tbl-info6 .tbl-info6__form .tbl-info6__icon_btnbottom {
    left: 24vw;
    top: 21vh;
  }
  .form {
    padding: 0 5px;
  }
  .tbl-info6__form .tbl-info6__icon_btnbottom .btn-small_width {
    padding: 10px 0;
    width: 245px;
    height: 50px;
    font-size: 21px;
  }
  .tbl-info6 .tbl-info6__form .tbl-info6__icon {
    right: 33vw;
    bottom: 20vh;
  }
  body .section10 {
    height: 40vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  footer .logo-bar__tel {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px;
  }
  .tbl-info8 .tbl-info8__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  .tbl-info8 .tbl-info8__grid_three {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  body .section7 {
    padding: 0;
  }
  .tbl-info6 .tbl-info6__form {
    margin: 8vh 0 0 0;
  }
  .tbl-info6__form .tbl-info6__icon {
    right: 36vw;
    bottom: 20vh;
  }
  .section6 .tbl-info6__icon img {
    width: 90px;
  }
  .tbl-info6__form .form {
    padding: 0 5px;
  }
  .form .form-control {
    height: calc(1.5em + 1.75rem + 2px);
  }
  .tbl-info6__icon_btnbottom .btn-small_width {
    padding: 10px 0;
    width: 195px;
    height: 48px;
  }
  .tbl-info6__form .tbl-info6__icon_btnbottom {
    left: 30vw;
  }
  .layout-section2 .tbl-info5 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  .card-body .btn-small_height {
    left: 14vw;
  }
  .card .card-body {
    margin: 15px 10px;
  }
  body .section4 {
    padding: 0px 0 5vh 0;
  }
  .tbl-info2__info .tbl-info2__text {
    font-size: 18px;
    text-align: justify;
    padding: 0 10px 0 0;
  }
  .tbl-info__info .tbl-info__text {
    font-size: 18px;
  }
  body .section1 .paragraph-big-orange {
    font-size: 45px;
  }
  body .section1 .cooperation {
    display: none;
  }
  .section1 .icon-line {
    width: 80vw;
    margin: 0 auto;
  }
  .section1 .icon-line img {
    width: 80vw;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .section10 .layout-section2_pt {
    padding: 0;
  }
  body .section6 {
    height: 50vh;
    margin: 10vh 0 0 0;
  }
  body .section3 {
    height: none;
    margin: 0;
  }
  body .section4 {
    padding: 0;
  }
  .section4 .tbl-info4__box {
    padding: 5vh 0 15px 0;
  }
  .card .btn-small {
    width: 155px;
  }
  .section5 .layout-section2 {
    max-width: none;
    width: 90vw;
  }
  .section5 .card-body_padding {
    margin: 15px 10px;
  }
  .section6 .tbl-info6__form {
    height: 24vh;
    margin: 10vh 0 0 0;
  }
  .tbl-info6__form .tbl-info6__icon {
    right: 38vw;
    bottom: 19vh;
  }
  .section6 .form .form-row {
    height: 15vh;
    padding: 0 15px;
  }
  .form .form-control {
    height: calc(1.5em + 0.75rem + 2px);
  }
  .section6 .tbl-info6__icon_btnbottom {
    top: 20vh;
    left: 33vw;
  }
  .form .form-control {
    height: calc(1.5em + 1.75rem + 2px);
  }
  .tbl-info6__icon_btnbottom .btn-small_width {
    padding: 10px 0;
    width: 195px;
    height: 48px;
  }
  .section6 .tbl-info6__icon img {
    width: 80px;
  }
  body .section7 {
    padding: 0;
  }
  .section7 .articles-header {
    padding: 0 0 15px 0;
  }
  .section10 .form .form-row {
    height: 20vh;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 653px) {
  body .section6 {
    height: 85vh;
    margin: 0;
  }
  .form .form-control {
    height: calc(1.5em + 1.75rem + 10px);
  }
  .section1 .icon-line {
    display: none;
  }
  .section1 .logo-bar_location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .section1 .logo-bar__logo img {
    width: 90px;
  }
  .layout-section1 .btn-big {
    font-size: 21px;
  }
  body .section1 .info {
    line-height: 35px;
    padding: 25px 0;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-bar__logo .logo-bar__logo_top {
    margin: 0 0px 10px 10px;
  }
  .section1 .logo-bar__tel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section1 .logo-bar__tel_form {
    margin-bottom: 10px;
  }
  body .section1 .paragraph-big-orange {
    font-size: 17px;
  }
  body .section1 .paragraph-big-white {
    font-size: 20px;
  }
  body .section1 .cooperation {
    display: none;
  }
  .navbar-light .navbar-toggler {
    display: none;
  }
  body .section2 .tbl-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2 .tbl-info__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 0 20px 0;
  }
  body .paragraph-black {
    line-height: 30px;
    font-size: 24px;
  }
  body .articles-header {
    max-width: 100vw;
  }
  body .tbl-info2__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .tbl-info2__info {
    margin: 0 10px 25px 0;
  }
  .tbl-info2__info .tbl-info2__articles {
    font-size: 27px;
  }
  .tbl-info2__info .tbl-info2__text {
    height: 90vh;
    font-size: 24px;
    text-align: justify;
  }
  body .section4 {
    background: black;
    height: 85vh;
  }
  .tbl-info4__box {
    width: 92vw;
    margin: 0 auto;
  }
  .section4 .layout-section4 {
    width: 90vw;
    max-width: none;
  }
  .section5 .articles-header {
    max-width: 95vw;
  }
  .tbl-info5 .card .card-body .btn-small_height {
    left: 15vw;
  }
  .layout-section2 .tbl-info5 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  .section5 .layout-section2 {
    max-width: 90vw;
    margin: 0 auto;
  }
  body .tbl-info5 .card {
    margin-right: 0px !important;
  }
  .card-body .btn-small_height {
    left: 14vw;
  }
  .tbl-info6 .tbl-info6__form {
    height: 55vh;
    margin: 8vh 0 0 0;
  }
  .tbl-info6__form {
    padding: 5px;
  }
  .tbl-info6__form .tbl-info6__icon {
    right: 24vw;
    bottom: 48vh;
  }
  .tbl-info6__form .tbl-info6__icon img {
    width: 90px;
  }
  .tbl-info6__form .tbl-info6__icon_btnbottom {
    top: 45vh;
    left: 7vw;
  }
  body .section7 {
    background: black;
  }
  .section7 .tbl-info4__box {
    width: 90vw;
    margin: 0 auto;
  }
  .section7 .layout-section4 {
    width: 90vw;
    max-width: none;
  }
  .tbl-info8 .tbl-info8__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  .tbl-info8__info .articles {
    font-size: 27px;
    padding: 0 0 10px 0;
  }
  .tbl-info8__text {
    font-size: 24px;
  }
  .section8 .layout-section2 {
    width: 90vw;
    max-width: none;
  }
  .section8 .tbl-info8__grid_three {
    width: 90vw;
    max-width: none;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .section9 .layout-section4 {
    width: 90vw;
    max-width: none;
  }
  body .section9 {
    max-height: none;
  }
  .section9 .carousel-item__text {
    font-size: 19px;
  }
  body .section10 {
    background: black;
    height: 95vh;
  }
  .layout-section2 .form-layout {
    height: 86vh;
  }
  .section10 .layout-section2_pt {
    padding: 20px 0 0 0;
  }
  .section10 .layout-section2 {
    width: 90vw;
    max-width: none;
  }
  .textarea .form-control {
    height: 25vh;
  }
  .section10 .layout-section4 {
    width: 80vw;
    max-width: none;
    padding: 20px 0 0 0;
  }
  .form-layout .form {
    padding: 5px 5px;
    margin: 4vh 0 0 0;
  }
  .section10 .btn {
    padding: 0px;
  }
  .section10 .btn-big_margin {
    margin: 5vh auto 3vh auto;
  }
  footer .logo-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 21px;
  }
  .logo-bar__bar .logo-bar__text {
    font-size: 21px;
  }
  footer .logo-bar__tel {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
  }
  .logo-bar__tel_btn .btn-small {
    width: 210px;
    height: 50px;
    font-size: 21px;
  }
  .section10 .btn .btn-big {
    font-size: 21px;
  }
}

.paragraph-black {
  color: #2e2e2e;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0 0 32px 0;
  padding-top: 5vh;
}

.paragraph-black_normal {
  font-weight: 500;
}

.paragraph-white {
  font-size: 26px;
  font-weight: 700;
  color: white;
}

.articles {
  font-size: 20px;
  font-weight: 700;
  color: #ed745d;
}

.articles-header {
  max-width: 60vw;
  text-align: center;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 300;
  color: #2e2e2e;
}

.section1 {
  background: url("../img/bg.png") no-repeat;
  padding: 0;
}

.section1 .logo-bar_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section1 .logo-bar {
  color: #ffffff;
}

.section1 .logo-bar__logo img {
  width: 75px;
}

.section1 .logo-bar__bar_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 37px 0 0 0;
}

.section1 .logo-bar__bar {
  font-size: 15px;
  font-weight: 400;
}

.section1 .logo-bar__bar .icon-bar {
  height: 23px;
  margin: 0 10px;
}

.section1 .logo-bar__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5vh 0 0 0;
}

.section1 .logo-bar__tel_form {
  margin-right: 19px;
}

.section1 .logo-bar__tel_text {
  text-align: right;
}

.section1 .logo-bar__tel_number {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.section1 .nav-link_style {
  font-size: 15px;
  text-align: center;
}

.section1 .info {
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.section1 .paragraph-big-orange {
  text-align: center;
  color: #ec644b;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
}

.section1 .paragraph-big-white {
  text-align: center;
  color: #ffffff;
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
}

.section1 .icon-line {
  margin-top: 25px;
  text-align: center;
}

.section1 .cooperation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 75vw;
  margin: 4vh auto;
}

.section1 .cooperation img {
  width: 17vw;
}

.section1 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 5px;
}

.section2 {
  min-height: 70vh;
  background-color: white;
  background-color: #f3f3f3;
  padding: 0 0 5vh 0;
}

.section2 .tbl-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.section2 .tbl-info__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 .tbl-info__img {
  margin: 10px 15px 0 15px;
}

.section3 {
  margin: 0 0 5vh 0;
}

.section3 hr {
  width: 20vw;
  background: #ed745d;
}

.tbl-info2__header {
  max-width: 60vw;
  text-align: center;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 300;
  color: #2e2e2e;
}

.tbl-info2__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 0;
}

.tbl-info2__photo {
  display: -ms-grid;
  display: grid;
}

.tbl-info2__photo img {
  width: 100%;
}

.tbl-info2__text {
  height: 31vh;
  font-size: 15px;
}

.tbl-info2__info {
  display: -ms-grid;
  display: grid;
  margin: 0 10px 0 0;
}

.tbl-info2__articles {
  text-align: center;
  margin: 10px 0 5px 0;
  font-size: 19px;
}

.section4 {
  background: url("../img/bg3.png") no-repeat;
  padding: 0 0 10vh 0;
}

.tbl-info4__box {
  padding: 5vh 0 0 0;
  text-align: center;
}

.tbl-info4__box .articles-header {
  color: white;
}

.section5 hr {
  width: 20vw;
  background: #ed745d;
}

.tbl-info5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form {
  margin: 10vh 0 0 0;
}

.card__header {
  font-size: 25px;
  font-weight: 600;
  color: #ed745d;
}

.card__grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__card {
  text-transform: uppercase;
  font-weight: 500;
}

.card-body_padding {
  padding: 0;
  margin: 10px;
}

.form-control_radius {
  border-radius: 20px;
}

.card-text:last-child {
  margin-bottom: 35px;
}

.section6 {
  margin: 0 0 10vh 0;
}

.tbl-info6__form {
  position: relative;
  height: 24vh;
  border: 2px solid #0000002e;
  margin: 12vh 0 0 0;
}

.tbl-info6__icon {
  position: absolute;
  right: 36vw;
  bottom: 17vh;
  z-index: 350;
  background-color: white;
}

.tbl-info6__icon_btnbottom {
  position: absolute;
  top: 21vh;
  left: 34vw;
}

.tbl-info6__icon img {
  width: 80px;
}

.section7 {
  background: url("../img/bg5.png") no-repeat;
  padding: 0 0 5vh 0;
}

.section8 {
  background-color: #f3f3f3;
  padding: 0 0 10vh 0;
}

.tbl-info8 {
  display: -ms-grid;
  display: grid;
  grid-gap: 4vh;
}

.tbl-info8__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.tbl-info8__grid_three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 70vw;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section9 {
  max-height: 70vh;
  margin: 10vh 0 10vh 0;
}

.carousel-item__wrap {
  text-align: center;
}

.left {
  color: red;
  position: absolute;
  left: 16vw;
  top: 9vh;
  font-size: 30px;
}

.right {
  color: red;
  position: absolute;
  right: 16vw;
  top: 9vh;
  font-size: 30px;
}

.section10 {
  background: url("../img/bg6.png") no-repeat;
}

.form-layout {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.form {
  margin: 2vh 0 0 0;
}

.form-control_height {
  height: 3em;
}

.section11 {
  height: 500px;
}

.logo-bar_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-bar {
  color: #ffffff;
}

.logo-bar__logo_location {
  margin-right: 55px;
}

.logo-bar__text {
  font-size: 16px;
  font-weight: 500;
}

.logo-bar__bar {
  font-size: 15px;
  font-weight: 400;
  margin: 30px 0 10px 0;
}

.logo-bar__bar .icon-bar {
  height: 23px;
  margin: 0 10px;
}

.logo-bar__tel_location {
  margin-top: 30px;
}

.logo-bar__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 0;
}

.logo-bar__tel_form {
  margin-right: 19px;
}

.logo-bar__tel_text {
  text-align: right;
}

.logo-bar__tel_number {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.btn-small {
  width: 173px;
  height: 45px;
  background-color: #ec644b;
  border-radius: 30px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.btn-small_height {
  height: 40px;
  position: absolute;
  bottom: 2vh;
  left: 4vw;
}

.btn-small_width {
  width: 182px;
  height: 40px;
}

.btn-big {
  width: 230px;
  height: 57px;
  background-color: #ec644b;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.35px;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  color: #ffffff;
}

.btn-big_margin {
  margin: 2vh;
}

.layout-section1 {
  max-width: 90vw;
  margin: 0 auto;
}

.layout-section1_padding {
  padding: 0 0 5vh 0;
}

.layout-section2 {
  max-width: 80vw;
  margin: 0 auto;
}

.layout-section2_pt {
  padding: 2.5em;
}

.layout-section4 {
  max-width: 60vw;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */